@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Kurale&display=swap');

$appLogoFont: 'Cinzel', serif;
$ordinaryFont: 'Kurale', serif;

$color1: #360000;
$color2: #6c0202;
$color3: #a31919;
$color4: #ee7272;
$color5: #ffb9b9;
$color6: #5a0004;
$color7: #4b1a1a;
$color8: #f8e6e6;
$color9: #fdd4d4;
$color10: white;
$color11: #ff2b2b;
$color12: #60e860;


.chat {
  width: 330px;
  height: 730px;
  font-family: $ordinaryFont;
  overflow-x: hidden;
  overflow-y: auto;
  // border: 1px solid black;

  &Title {
    margin: 0;
    padding: 0;
    color: $color2;
    font-size: 22px;
    font-weight: 700;
    // border: 1px solid black;
  }

  &Info {
    width: 290px;
    margin: 5px auto;
    padding: 0;
    color: $color2;
    font-size: 18px;
    font-weight: 500;
    border: 1px solid transparent;
    border-radius: 7px;

    &Online {
      border-color: $color12;
      box-shadow: 0px 0px 5px $color12, inset 0px 0px 5px $color12;
    }

    &Offline {
      border-color: $color11;
      box-shadow: 0px 0px 5px $color11, inset 0px 0px 5px $color11;
    }
  }
}

.chatForm {
  width: 290px;
  margin: 5px auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // border: 1px solid black;
  
  &Input {
    width: 250px;
    height: 28px;
    color: $color2;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid $color2;
    border-radius: 7px 0 0 7px;
    margin: 0;
    padding: 0;
    padding-left: 5px;

    &:hover,
    &:focus,
    &:active {
      outline: 0;
      outline-offset: 0;
      box-shadow: 0px 0px 3px $color2, inset 0px 0px 3px $color2;
    }
  }

  &Button {
    flex-grow: 1;
    height: 28px;
    color: rgba(110, 2, 2, 0.6);    
    font-size: 16px;
    line-height: 1em;
    vertical-align: middle;
    border: 1px solid $color2;
    border-left: none;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 0 7px 7px 0;
    margin: 5px 0;    
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;

    &:hover,
    &:active {
      color: $color2;
      font-size: 18px;
      box-shadow: 0px 0px 3px $color2, inset 0px 0px 3px $color2;
    }

    &:active {
      font-size: 14px;
      box-shadow: 0px 0px 3px $color2, inset 0px 0px 3px $color2;
    }
  }
}

.chatList {
  width: 290px;
  margin: 5px auto;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  // border: 1px solid black;

  &MyMessange {
    width: 220px;
    padding: 5px;
    margin: 0;
    margin-bottom: 5px;
    border: 1px solid $color2;
    border-radius: 10px;
    word-break: break-word;
    white-space: break-spaces ;
    background-color: rgba(255, 255, 255, 0.3);
    align-self: flex-start;
  }

  &Messange {
    width: 220px;
    padding: 5px;
    margin: 0;
    margin-bottom: 5px;
    border: 1px solid $color2;
    border-radius: 10px;
    word-break: break-word;
    white-space: break-spaces ;
    align-self: flex-end;

    &Date {
      line-height: 1em;
      opacity: 0.6;
    }

    &User {
      width: 100%;
      margin: 0;
      padding: 3px 0;
      line-height: 1.2em;
      word-break: break-word;
      white-space: break-spaces ;
      text-shadow: 0 0 1px $color2;
    }

    &Text {
      padding: 0 10px 5px 10px;
      text-align: left;
    }
  }
}