.App {
  text-align: center;
  background-color: bisque;
}
 body{
  background-color: coral;
 }
 
.App-header {
  background-color: #fae2f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:absolute;
  background-color: aqua;
  bottom: 0px;
  height: 8vh;
  width: 100%;
}

.footerinfo {
  margin: 0;
  padding: 0;
}

