body {
  background: #360000;
}

/* Всё что ниже, нужно раскидать по своим отдельным компонентам! */

.App {
  text-align: center;
  height: 92vh;
}

.App-header {
  background-color: #fae2f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position:absolute;
  background-color: rgb(33, 37, 41); 
  color:white;
  bottom: 0px;
  height: 8vh;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
}

.footerinfo {
  margin: 0;
  padding: 0;
}
.navbar {
  font-family: 'Times New Roman', Times, serif;
}
.block-non {
  display: flex;
  flex-direction: row;
  height: 50px;
}
.link {
  margin: 10px;
  border: 1px solid black;
  border-radius: 3px;
  height: 10px;
  width: 150px;
}