.nutrition_container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

caption {
  text-transform: uppercase;
  margin-bottom: 20px;
}

table {
 color: azure;
}

th {
  padding: 5px;
}

td {
  border-left: 1px solid black;
}

thead {
  background-color: yellow;

}

thead tr th {  
  color: red;
 border-bottom: 1px solid rgb(245, 245, 245);
}

tbody {
  text-align: center; 
}