// @import "AuthStyles.scss";
$appLogoFont: 'Cinzel', serif;
$ordinaryFont: 'Kurale', serif;

$color1: #360000;
$color2: #6c0202;
$color3: #a31919;
$color4: #ee7272;
$color5: #ffb9b9;
$color6: #5a0004;
$color7: #4b1a1a;

$mainWidth: 350px;
$mainHeight: 800px;

.workout_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 20px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  color: #d8b3b3;
}

caption {
  text-transform: uppercase;
  margin-bottom: 20px;
  justify-content: center;
color: $color3;
}

.dailyTrain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: small;

}
.dailyBox{
  width: 80vw;
  margin: 20px;
  border: solid rgb(217, 167, 236);
  border-radius: 20px;
}
