@import "../AuthStyles.scss";

.form {
  width: 90%;
  height: 95%;
  font-family: 'Kurale', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &Logo {
    margin: 0 0 5px 0;
    padding: 0;
    color: $color5;
    font-size: 30px;
  }

  &Block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

.formBlockInput {
  color: $color5;
  width: 85%;
  margin: 5px 0;
  height: calc(30px - 4px);
  border: 2px solid $color4;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 10px;

  &::placeholder {
    color: $color4;
    opacity: 0.7;
  }

  &:focus,
  &:active {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 7px $color5;
  }
}

.formBlockButton {
  @extend %myButtonStyle;
  padding: 0 20px;
  margin: 10px 0;

  &:hover {
    box-shadow: 0px 0px 5px $color4, inset 0px 0px 5px $color4;
  }

  &:active {
    box-shadow: 0px 0px 5px $color4, inset 0px 0px 5px $color4;
    transform: scale(0.9);
  }
}

.fillBlock {
  flex-grow: 1;
}

.formFutterButton {
  height: 30px;
  color: $color5;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Kurale', serif;
  background: transparent;
  border: none;
  margin: 15px 0 10px 0;
  cursor: pointer;

  &:hover {
    font-weight: 700;
  }

  &:active {
    font-weight: 700;
    transform: scale(0.9);
  }
}

.errorBlock {
  height: 50px;
  color: $color5;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  > p {
    padding: 0;
    margin: 0;
    line-height: 1.2em;
  }
}
