.daysOfTrenings {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
flex-direction: row;
}

.changeVol {
  display: flex;
  justify-content:center;
  flex-wrap: wrap;
flex-direction: row;
}
