@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&family=Kurale&display=swap');

$appLogoFont: 'Cinzel', serif;
$ordinaryFont: 'Kurale', serif;

$color1: #360000;
$color2: #6c0202;
$color3: #a31919;
$color4: #ee7272;
$color5: #ffb9b9;
$color6: #5a0004;
$color7: #4b1a1a;

$mainWidth: 350px;
$mainHeight: 800px;

.nutrition_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

caption {
  text-transform: uppercase;
  margin-bottom: 10px;
  align-items: center;
  color: $color1;
  font-size: medium;
}
.day {
  font-size: larger;
}
.title {
  width: 190px;
}

.td {
  border-left: 1px solid black;
  color: #a31919;
}

.linkButton {
  color: $color3;
  font-size:medium;
  text-decoration: none;
  &:hover {
    color: $color4;
  }
}
.button {
  color: white;
  width: 30px;
  height: 30px;
  background-color: $color3;
  border-radius: 5px;
  border: none;
  &:hover {
    box-shadow: 0px 0px 5px $color5, inset 0px 0px 5px $color5;
  }
}

.downButton{
  color: white;
  width: 30px;
  height: 30px;
  background-color: $color3;
  border-radius: 5px;
  border: none;
  margin-right: 14px;
  margin-top: 10px;
  &:hover {
    box-shadow: 0px 0px 5px $color5, inset 0px 0px 5px $color5;
  }
}

.thSelect {
  width: 170px;
  font-size: 13px;
  color: $color2;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid $color2;
  border-radius: 5px;
  height: 24px;
  letter-spacing:2px;
  margin-bottom: 1px;
  margin-left: -10px;
  padding-left: 5px;

  &:focus,
  &:active {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 4px $color6;
  }
}
.table2 {
width: 320px;
margin-top: 10px;
}
.thInput {
  width: 50px;
  font-size: 13px;
  color: $color2;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid $color2;
  border-radius: 5px;
  height: 24px;
  letter-spacing:2px;
  // margin-left: -10px;
  padding-left: 5px;
  margin-bottom: 2px;
  &:focus,
  &:active {
    outline: 0;
    outline-offset: 0;
    box-shadow: 0 0 4px $color6;
  }
}
.tdInputButton {
  width: 60px;
}

.addForm {
  width: 300px;

}
.table1 {
  width: 320px;
  margin-right: 10px;
}
